
<div class="container">
    <h1></h1>
    <div class="card">
        <h5 class="card-header">Album details<div class="card-body">
               
                <p class="card-text"> </p>               
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Title</td>
                                <td>{{newMusic.title}}</td>
                            </tr>
                            <tr>
                                <td>Genre</td>
                                <td>{{newMusic.genre}}</td>
                            </tr>
                            <tr>
                                <td>Album Name</td>
                                <td>{{newMusic.albumName.name}}</td>
                                <img  class="img-class" src= {{newMusic.albumName.img}}>
                            </tr>
                            <tr>
                                <td>Artist</td>
                                <td>{{newMusic.artistName}}</td>
                            </tr>
                            <tr>
                                <td>Release Date</td>
                                <td>{{newMusic.releaseDate}}</td>
                            </tr>
                          
                        </tbody>
                    </table>
                <p></p>
            </div>
        </h5>
    </div>
</div>


